{% extends 'base.html' %}

{% load static %}

{% block title %}パスワードリセット{% endblock title %}

{% block head %}<link type="text/css" rel="stylesheet" href="{% static 'css/authentication.css' %}">{% endblock head %}

{% block active_signup %}active{% endblock active_signup %}

{% block contents %}
<section id="login-section">
    <div class="wrapper-header align-center">
        <h1 class="main-header">{% if token_fail %}不正トークン{% else %}パスワードリセット</h1>
        <p>アカウントをまだお持ちでなければ、こちらから<a href="{% url 'account_signup' %}">ユーザー登録</a>してください。</p>
    </div>

    {% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    <p>このパスワードリセット用リンクは無効になっています。<a href="{{ passwd_reset_url }}">パスワードリセット再申請</a></p>
    {% else %}
    {% if form %}
    <div class="wrapper-login-form">
        <form method="post" action="{{ action_url }}">
            {% csrf_token %}

            <div class="login-form-content">
                <input type="password1" name="password1" placeholder="新しいパスワード" autocomplete="new-password" required id="id_password1">
            </div>
            <div class="login-form-content">
                <input type="password2" name="password2" placeholder="新しいパスワード（再入力）" autocomplete="new-password" required id="id_password2">
            </div>
            <button type="submit">変更</button>
        </form>
    </div>
    {% else %}
    <p>パスワードは変更されています。</p>
    {% endif %}
    {% endif %}
</section>
{% endblock contents %}
