{% extends 'base.html' %}

{% load static %}

{% block title %}パスワードリセット完了{% endblock title %}

{% block head %}<link type="text/css" rel="stylesheet" href="{% static 'css/authentication.css' %}">{% endblock head %}

{% block contents %}
<section id="pass-reset-done-section">
    <div class="wrapper-header align-center">
        <h1 class="main-header">パスワードリセット</h1>
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p>パスワードリセット用メールを送信しました。</p>

    </div>
</section>
{% endblock contents %}
