{% extends 'base.html' %}

{% load static %}

{% block title %}パスワードリセット{% endblock title %}

{% block head %}<link type="text/css" rel="stylesheet" href="{% static 'css/authentication.css' %}">{% endblock head %}

{% block contents %}
<section id="pass-reset-section">
    <div class="wrapper-header align-center">
        <h1 class="main-header">パスワードリセット</h1>
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p>パスワードリセット用メールを送信します。</p>

    </div>
    <div class="wrapper-login-form">
        <form method="post" action="{% url 'account_reset_password' %}">
            {% csrf_token %}

            <div class="pass-reset-form-content">
                <input type="email" name="email" placeholder="メールアドレス" autocomplete="email" required id="id_email">
            </div>
            <button type="submit">送信</button>
        </form>
    </div>
</section>
{% endblock contents %}
