/* 共通 */

:root {
    --black: #2b2b2b;
    --white: #fffffc;
    --baseColor: #fcd575;
    --subBaseColor: #0033ff;
}

li {
    list-style: none;
}

.wrapper-subHeader {
    width: fit-content;
    margin: 30px auto;
}

.wrapper-subHeader h3 {
    position: relative;
    font-size: 26px;
    font-weight: 300;
}

.wrapper-subHeader h3::before {
    position: absolute;
    background-color: var(--baseColor);
    width: 100%;
    height: 2px;
    top: 100%;
    content: '';
    margin: 0 auto;
}

.wrapper-subHeader p {
    display: inline-block;
    margin: 3px 0;
}

/* 収支 */

.balance-contents {
    width: fit-content;
    margin: 0 auto;
}

.balance-contents div {
    align-items: flex-end;
    margin: 0 20px;
}

.balance-contents .labels p::after {
    content: ':';
}

.wrapper-canvas {
    width: 90vw;
    max-width: 1200px;
    height: 60%;
    margin: 30px auto;
}

/* 投票結果 */

.wrapper-timeline {
    background-color: var(--white);
    width: 90vw;
    height: fit-content;
    margin: 20px auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border: solid .5px var(--black);
    /* overflow: scroll; */
}

.wrapper-place-info {
    width: 120px;
    min-width: 120px;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.wrapper-place-circle {
    background-color: var(--white);
    width: 100px;
    height: 100px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.wrapper-place-text {
    width: fit-content;
    height: fit-content;
}

.place-name {
    font-size: 28px;
    font-weight: bold;
}

.place-id {
    font-size: 14px;
}

.wrapper-vote-and-result-scroll {
    display: flex;
    overflow-x: scroll;
    width: calc(100% - 120px);
}

.wrapper-vote-and-result {
    white-space: nowrap;
}

.wrapper-vote-and-result-each-race {
    position: relative;
    width: 175px!important;
    height: 100%;
    border-left: .3px solid var(--black);
    border-right: .3px solid var(--black);
}

.wrapper-vote-and-result-each-race::after {
    position: relative;
    display: block;
    content: '';
    width: 100%;
    height: 175px;
}

.wrapper-race-no {
    background-color: var(--white);
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: center;
}

.race-no {
    display: block;
    font-size: 32px;
}

.wrapper-vote {
    position: relative;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}

.comb {
    width: 95%;
}

.comb-name {
    display: block;
    width: fit-content;
    font-size: 18px;
    border-bottom: solid 1px var(--black);
    margin: 10px 0;
}

.wrapper-result {
    position: absolute;
    width: 100%;
    height: 175px;
    border-top: solid .3px var(--black);
    bottom: 0;
    align-items: center;
    justify-content: center;
}

.result-contents {
    width: fit-content;
    height: fit-content;
}

.result-content {
    align-items: center;
    margin-top: 10px;
}

.result-icon {
    display: block;
    width: 28px;
    height: 28px;
    margin-right: 10px;
}
