.contact {
    position: relative;
}

.h1-contact {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.textarea_ {
    width: 30em;
    height: 200px;
    resize: none;
}

/* 結果表示画面 */

.dailyResult {
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.wrapper-canvas {
    position: relative;
    width: 250px;
    height: 300px;
    /* border: solid pink; */
}

.wrapper-text {
    margin-left: 40px;
}

.wrapper-result {
    margin-bottom: 10px;
    color: #FF0000;
}

.resultText {
    width: fit-content;
    background-color: #2b2b2b;
    border-radius: 10px;
    padding: 1px 5px;
}

.resultText p {
    font-size: 24px;
    color: #fffffc;
}

.resultValue h2 {
    font-size: 84px;
}

.resultValue span {
    font-size: 36px;
    color: #2b2b2b;
}

@media screen and (max-width: 768px) {
    .dailyResult {
        top: 0;
        flex-direction: column;
    }

    .wrapper-text {
        margin-top: 20px;
    }
}

/* 買い目ごとの成績 */

#daily-result-each-comb {
    margin-top: 70px;
}

.result-each-comb-content {
    margin-top: 150px;
}

.wrapper-pie-chart {
    width: fit-content;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
