.contact {
    position: relative;
}

.h1-contact {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.textarea_ {
    width: 30em;
    height: 200px;
    resize: none;
}

/* 結果表示画面 */

#section-daily-result {
    position: relative;
    top: 100px;
}

.container-result {
    position: relative;
    top: 100px;
}
