/* 共通 */

* {
    margin: 0;
    padding: 0;
}

:root {
    --black: #2b2b2b;
    --white: #fffffc;
    --baseColor: #fcd575;
    --subBaseColor: #0033ff;
}

.disp-flex-row {
    display: flex;
    flex-direction: row;
}

.disp-flex-col {
    display: flex;
    flex-direction: column;
}

/* お問合せ */

#inquiry {
    position: relative;
    width: calc(var(--vw, 1vw) * 100)!important;
}

.wrapper-header {
    position: relative;
    top: 30px;
}

.wrapper-header p {
    display: inline-block;
    margin-bottom: 60px;
}

.wrapper-form {
    width: 600px;
    margin: 2rem auto 5rem auto;
    padding: 3rem 1rem 2rem 1rem;
    background: #fafafa;
    border: 1px solid #ebebeb;
    box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.form-content {
    position: relative;
    margin: 30px;
}

.form-content input {
    font-size: 18px;
    padding: 10px 0;
    -webkit-appearance: none;
    display: block;
    background: #fafafa;
    color: #636363;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #757575;
}

.form-content input:focus {
    outline: none;
}

.form-content label {
    color: #999; 
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: all 0.2s ease;
}

.form-content input:focus ~ label, input.used ~ label {
    top: -20px;
    transform: scale(.75); left: -2px;
    /* font-size: 14px; */
    color: #4a89dc;
}

.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before, .bar:after {
    content: '';
    height: 2px; 
    width: 0;
    bottom: 1px; 
    position: absolute;
    background: #4a89dc; 
    transition: all 0.2s ease;
}

.bar:before {
    left: 50%;
}

.bar::after {
    right: 50%;
}

.form-content input:focus ~ .bar:before, .form-content input:focus ~ .bar:after { width: 50%; }

.highlight {
    position: absolute;
    height: 60%; 
    width: 100px; 
    top: 25%; 
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

input:focus ~ .highlight {
    animation: inputHighlighter 0.3s ease;
}

textarea {
    resize: vertical;
    width: 100%;
    font-size: 18px;
}

@keyframes inputHighlighter {
    from { background: #4a89dc; }
    to  { width: 0; background: transparent; }
}

button {
    position: relative;
    display: inline-block;
    width: calc(100% - 60px);
    height: fit-content;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 3rem;
    padding: 1rem;
    font-size: 16px;
    background: var(--baseColor);
    transition: all .2s ease-in-out;
    border: 1px solid var(--baseColor);
    box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

button:hover {
    opacity: .8;
    cursor: pointer;
}

label[for="id_message"] {
    display: none;
}

@media screen and (max-width: 768px) {
    .wrapper-header {
        top: 0;
    }

    .wrapper-form {
        width: calc(var(--vw, 1vw) * 95)!important;
        max-width: 600px;
        padding: 0;
        font-size: 16px;
    }
}

/* メッセージ（お問合せ後など） */

.wrapper-message {
    position: relative;
    width: fit-content;
    margin-bottom: 20px;
    background-color: var(--baseColor);
    color: var(--white);
    padding: 5px;
    border-radius: 7px;
    left: 50%;
    transform: translateX(-50%);
}
