/* 共通 */

td {
    border: solid 1px rgb(55, 52, 52);
    margin: auto;
}

.oddsPoint {
    width: 70px;
}

.is-boatColor1 {
    background: #ebebeb;
}

.is-boatColor2 {
    background: #505050;
}

.is-boatColor3 {
    background: #f04141;
}

.is-boatColor4 {
    background: #4184d0;
}

.is-boatColor5 {
    background: #ece962;
}

.is-boatColor6 {
    background: #54b74d;
}

/* タブの部分 */

.tab-container {
    position: relative;
    top: 80px;
    width: 95%;
    margin: 30px auto;
    overflow: scroll;
}

.tab-group {
    list-style: none;
    display: flex;
    justify-content: center;
    letter-spacing: 0.25em;
    min-width: 700px;
}

.tab {
    flex-grow: 1;
    padding: 5px;
    list-style: none;
    border: solid 1px #CCC;
    text-align: center;
    cursor: pointer;
}

.panel-group {
    height: 100px;
    border-top: none;
}

.panel {
    display: none;
}

.tab.is-active {
    background: #fcd575;
    transition: all 0.2s ease-out;
}

.panel.is-show {
    display: block;
}

.panel-E.is-show {
    display: flex;
}

/* 結果 */

.prob-title {
    position: relative;
    top: 75px;
    text-align: center;
}

/* 3連単 */

.container-prob {
    position: relative;
    margin: auto;
    top: 100px;
}

.trifecta {
    position: relative;
    width: 95%;
    overflow: scroll;
}

table {
    margin: auto;
    margin-top: 20px;
    border-collapse: collapse;
    border: 1px solid black;
}

.trifecta table {
    position: relative;
    width: 1000px;
    margin: 30px 30px;
    left: 50%;
    transform: translateX(-50%);
}

/* 3連複 */

.triple {
    position: relative;
    width: 95%;
    overflow: scroll;
}

.triple table {
    position: relative;
    width: 1000px;
    margin: 30px 30px;
    left: 50%;
    transform: translateX(-50%);
}

/* 2連単 */

.exacta {
    position: relative;
    width: 95%;
    overflow: scroll;
}

.exacta table {
    position: relative;
    width: 1000px;
    margin: 30px 30px;
    left: 50%;
    transform: translateX(-50%);
}

/* 2連複 */

.quinella {
    position: relative;
    width: 95%;
    overflow: scroll;
}

.quinella table {
    position: relative;
    width: 1000px;
    margin: 30px 30px;
    left: 50%;
    transform: translateX(-50%);
}

/* 単勝・複勝 */

.unit-tansyo {
    width: 300px;
    margin-left: 30px;
    position: relative;
    overflow: scroll;
}

.unit-hukusyo {
    width: 300px;
    margin-right: 30px;
    position: relative;
    overflow: scroll;
}

.panel-E {
    justify-content: center;
    position: relative;
    overflow: scroll;
}

.unit-E {
    width: 300px;
    margin: 30px;
}

.td-tansyo, .tr-tansyo, .th-tansyo {
    border: 1px #070707 solid;
}

.th-tansyo {
    color: rgb(249, 245, 245);
    background-color: #3681e9;
    height: 40px;
}

.td-tansyo {
    text-align: center;
}

.tr-tansyo {
    height: 40px;
}

.table-tansyo {
    border-collapse: collapse;
    border: 1px #070707 solid;
    width: 300px;
}

.table-hukusyo {
    border-collapse: collapse;
    border: 1px #070707 solid;
    width: 300px;
}

.explain {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
}

.bracket-no {
    width: 50px;
}

@media screen and (max-width: 768px) {
    .panel-E {
        flex-direction: column;
        align-items: center;
    }
}
