main {
    /* background-color: #ea5550; */
    height: 300px;
    margin-top: 50px;
}

/* 共通 */

.text-align-center {
    text-align: center;
}

.container-contents-inner {
    margin-top: 30px;
}

.wrapper-race-select {
    position: relative;
    padding-top: 20px;
    text-align: left;
    left: 20px;
    width: calc(100% - 40px);
}

.place {
    position: relative;
    /* background-color: #ceed46; */
}

.place-inner {
    /* background-color: aqua; */
}

.header-2 {
    border-left: solid 5px #24140e;
}

.wrapper-raceNo {
    /* background-color: bisque; */
    margin-top: 10px;
}

.li-raceNo {
    /* background-color: rgb(95, 95, 193); */
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.li-content {
    text-align: center;
    margin: 20px;
    /* margin-left: 20px; */
    padding: 10px;

    /* ポリモーフィズム */
    border-radius: 50%;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow:  5px 5px 15px #c4c4c4,
                -5px -5px 15px #ffffff;
}

.li-content:hover {
    opacity: 0.7;
}

.raceNo {
    text-decoration: none;
}

.raceNo:hover {
    opacity: 0.7;
    color: rgb(154, 49, 49);
    text-decoration: dotted;
}

.time {
    font-size: small;
}
