* {
    margin: 0px;
    padding: 0px;
}

/* 共通 */

.text-white {
    color: aliceblue;
}

.block {
    display: block;
}

.center-v {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
}

.main-header {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.align-center {
    text-align: center;
}

/* ヘッダー */

.nav-main {
    background-color: black;
    height: 60px;
}

.decorate-none {
    text-decoration: none;
}

.container-header {
    height: 100%;
    position: relative;
}

.ul-header {
    display: flex;
    list-style: none;       /* リストの「・」を消す  */
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 50px;
}

.header-inner-li {
    margin-left: 2.75vw;   /* リストの横の空白 */
    letter-spacing: 0.25em;  /* 文字間隔　 */
}

/* 見出し */


/* フッター */

.container-footer {
    background-color: black;
    height: 60px;
    width: 100%;
}
